/*style 적용*/
/* 
textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
} */

#banner img {
    width: 100%; /* 화면 크기에 맞게 이미지 크기 조절 */
    height: auto;
}

#slider {
    margin: auto;
    overflow:hidden;
    position:relative;
    border:20px solid red;
    width:1440px;  
    height:200px;
 }
 .image-box {
    width:5280px; 
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    animation: bannermove 5s linear infinite;
 }
 @keyframes bannermove {
   0% {
       transform: translate(0, 0);
   }
   100% {
       transform: translate(-50%, 0);
   }
 }